<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learn">

    <!--允许访问网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许访问网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许访问wifi状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.learn.base.IApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- lock -->
        <activity
            android:name="com.learn.thread.LockActivity"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- synchronized -->
        <activity
            android:name="com.learn.thread.SynchronizedActivity"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- volatile -->
        <activity
            android:name="com.learn.thread.VolatileActivity"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- dialog - rotating -->
        <activity
            android:name="com.learn.dialog.rotating.DialogRotatingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:maxAspectRatio="2.4"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />

        <!-- AsyncTask -->
        <activity
            android:name="com.learn.thread.AsyncTaskActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- BigPhotoActivity -->
        <activity
            android:name="net.archeryc.glidedemo.GlidePhotoView.BigPhotoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- ZoomActivity -->
        <activity
            android:name="net.archeryc.glidedemo.sample.ZoomActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

    </application>

</manifest>