<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learn">

    <!--允许访问网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许访问网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许访问wifi状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许写入sd卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取sd卡-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.learn.base.IApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--定义一个 FileProvider-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- lock -->
        <activity
            android:name=".activity.thread.LockActivity"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- synchronized -->
        <activity
            android:name=".activity.thread.SynchronizedActivity"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- volatile -->
        <activity
            android:name=".activity.thread.VolatileActivity"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- dialog - rotating -->
        <activity
            android:name=".activity.dialog.rotating.DialogRotatingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:maxAspectRatio="2.4"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />

        <!-- AsyncTask -->
        <activity
            android:name=".activity.thread.AsyncTaskActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 图片预览阅读模式 -->
        <activity
            android:name=".activity.glidedemo.GlidePhotoView.BigPhotoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 图片缩放 -->
        <activity
            android:name=".activity.glidedemo.sample.ZoomActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 视频剪裁 -->
        <activity
            android:name=".activity.ffmpeg.VideoClipActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 视频拼接及其他操作 -->
        <activity
            android:name=".activity.ffmpeg.VideoCmdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 视频播放器 -->
        <activity
            android:name=".activity.ffmpeg.FFPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 遍历本地文件 -->
        <activity
            android:name=".activity.loadfile.FileListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

    </application>

</manifest>